.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.navbar {
  z-index: 1;
  display: block;
  padding: 1rem;
  top:0;
  text-align:center;
  font-size:calc(12px + 2vmin);
  background: #EEEEEE;
  color: #589b00;
}
.navbarlink:link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  color:#4284FF;
}
.navbarlink:visited {
  text-decoration:none;
  color:#4284FF;
}
.navbarlink:hover {
  text-decoration:none;
  color:#599c00;
}
.navbarlink:active {
  text-decoration:none;
  color:yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.logoimg {
  z-index: 2;
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  max-width:390px;
  height:100%;
}

.body {
  font-family:Arial, Helvetica, sans-serif;
  padding:10px;
  padding-bottom:60px;
  max-width:1400px;
  margin:auto;
  color:white;
  text-align:center;
  font-size:calc(12px + 1vmin);
  line-height: 1.4;
}
.bodylink:link {
  text-decoration:none;
  color:#4284FF;
}
.bodylink:visited {
  text-decoration:none;
  color:#4284FF;
}
.bodylink:hover {
  text-decoration:none;
  color:#599c00;
}
.bodylink:active {
  text-decoration:underline;
  color:gold;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}
div.transbox {
  z-index: 3;
  margin: 30px;
  background-color: #4b4b4b;
  border: 1px solid black;
  opacity: 0.8;
}
div.transbox p {
  z-index: 4;
  opacity: 1;
  font-weight: normal;
  color: #FFFFFF;
}
#footer {
  opacity: 0.5;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #EEEEEE;
  color: #121212;
  text-align: center;
  font-size: 12px;
  margin-left: center;
  margin-right: center;
}